examples
tests
*.csv
test/*
other/*
examples/*
scripts/
.env
*.env
playground/
archive/
coverage/
docs/
data/**.py
src/test/
src/

# config files
*.conf.js
*.config.js
*.conf.cjs
*.config.cjs
*.conf.json
*.config.json
*rc.json
*rc.js
*rc.cjs
*ignore
*MANUAL.md