# Ignore artifacts:
build
coverage

# Ignore folders: node_modules, dist, build, coverage
**/node_modules
**/dist
**/build
**/coverage
**/other
**/archive

# Ignore JSON files in data directory EXCEPT contracts.json
!data/contracts.json  # This line might still be ineffective in `.prettierignore`
data/*.json

docs/
